*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5f5e5e;
}
.main-box{
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(-45deg);

}
.box1{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-top-right-radius: 100%;
  bottom: 50%;
  z-index: 20;
  outline: 20px solid #5f5e5e;
}
.box2{
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-top-right-radius: 100%;
  outline: 20px solid #5f5e5e;
  bottom: 50%;
  
  z-index: 18;
  animation: wifiAnimation 4s ease infinite both;
}
.box3{
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-top-right-radius: 100%;
  
  bottom: 50%;
  z-index: 16;

  outline: 20px solid #5f5e5e;
  animation: wifiAnimation2 4s ease infinite both;
}
.box4{
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #fff;
 border-top-right-radius: 100%;
  bottom: 50%;
  z-index: 14;
  animation: wifiAnimation3 4s ease infinite both;
}
@keyframes wifiAnimation{
  0%{
    background-color: #5f5e5e;
  }
  25%{
    background-color: #afaeaec4;
  }
  50%{
    background-color: #afaeae;
  }

  100%{
    background-color: #5f5e5e;
  }
}
@keyframes wifiAnimation2{
  0%{
    background-color: #5f5e5e;
  }
  15%{
    background-color: #5f5e5ee3;
  }
  25%{
    background-color: #797777;
  }
  50%{
    background-color: #afaeae;
  }

  100%{
    background-color: #5f5e5e;
  }
}
@keyframes wifiAnimation3{
  0%{
    background-color: #5f5e5e;
  }
  25%{
    background-color: #5f5e5ecb;
  }
  35%{
    background-color: #8581818a;
  }
  50%{
    background-color: #afaeae;
  }

  100%{
    background-color: #5f5e5e;
  }
}